@charset "utf-8";
body {
background-image: url(../img/background_index.jpg);
  position: fixed; 
 
}

.button {
    background-color:aqua;
	opacity: 0.8;
    color: white;
    padding: 0.5% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
	border-radius: 50px;
	border: 2px solid #FFFFFF;
	margin-left: 30%;
	margin-top: 20%;
}
.button:hover {
    background-color: #3B9387;
}
a:link { 
  text-decoration: none;}
a:visited {
  text-decoration: none;}
a:hover {
  text-decoration: none;}
a:active {
  text-decoration: none;}
h1{
		text-align: center;
	color: #34B0CA;
	font-size: 2em;
	
	
}