@charset "utf-8";
body {background-image: url(../img/background_index.jpg);
	font-family: roboto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

.button {
    background-color:aqua;
	opacity: 0.8;
    color: white;
    padding: 0.5% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
	border-radius: 50px;
	border: 2px solid #FFFFFF;
	margin-left: 41%;
	margin-top: 20%;
}
.button:hover {
    background-color: #3B9387;
}
a:link { 
  text-decoration: none;}
a:visited {
  text-decoration: none;}
a:hover {
  text-decoration: none;}
a:active {
  text-decoration: none;}
