@charset "utf-8";
body{
	font-family: roboto;
  	background-image: url(../img/background_index.jpg);
	background-repeat:no-repeat;
background-size:cover;
background-position:center;
height: 100%;

}	
.button {
    background-color:aqua;
	opacity: 0.8;
    color: white;
    padding: 0.5% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
	border-radius: 50px;
	border: 2px solid #FFFFFF;
	margin-left: 41%;
	margin-top: 20%;
}
.button:hover {
    background-color: #3B9387;
}
a:link { 
  text-decoration: none;}
a:visited {
  text-decoration: none;}
a:hover {
  text-decoration: none;}
a:active {
  text-decoration: none;}
#introtext{
		text-align: center;
	color: #34b0ca;
	font-size: 2em;
	margin-top: 10%;
	
	
}
#baselogo {width: 15%; position: absolute; margin-left: 40.5%; margin-top: 2%;}

