@charset "UTF-8";
/* CSS Document */

body {background-image: url(../img/background_index.jpg);
	background-repeat:no-repeat;
background-size:cover;}

h1 {
    text-align: center;
    position: relative;
	color: aqua;
    
}

p#player1 {
    color: white;
	font-size: 30px;
	background: #34B0CA;
}

p#player2 {
    
    color: white;
	font-size: 30px;
	background: #34B0CA;
}


p#player3 {
    
    color: white;
	font-size: 30px;
	background: #34B0CA;
}


p#player4 {
    
    color: white;
	font-size: 30px;
	background: #34B0CA;
}


p#player5 {
    
    color: white;
	font-size: 30px;
	background: #34B0CA;
}
p#player6 {
    
    color: white;
	font-size: 30px;
	background: #34B0CA;
}
p#player7 {
    
    color: white;
	font-size: 30px;
	background: #34B0CA;
}
p#player8 {
    
    color: white;
	font-size: 30px;
	background: #34B0CA;
}
color{
    
    width: 50%;
	font-size: 30px;
	background: #34B0CA;
}

#leader{
	
	text-align: center;
	
}