@charset "utf-8";
/* CSS Document */
body {
	
	background-image: url(../img/background_index.jpg);
	background-repeat:no-repeat;
	background-size:cover;

}	


#player-group button {
    background-color: #34B0CA;
    border: 5px solid black;
    color: black;
    padding: 10px 24px;
    float: left;
	font-size: 10em;
	width: 70%;
	margin-left: 14%;
	margin-top:2.5%;
	margin-bottom: 2.5%;
	text-align: center;	
}
#player-group2 button{
	
    background-color: #34B0CA;
    border: 2px solid black;
    color: black;
    float: left;
	font-size: 2105%;
	width: 49%;
	text-align: center;
	text-decoration: none;
}


.choose-players{
	text-align: center;
	color: #34B0CA;
	font-size: 2em;
	
}