@charset "utf-8";
/* CSS Document */
body {
	
	background-image: url(../img/background_index.jpg);
	background-repeat:no-repeat;

}	


.player-group button {
    background-color: #34B0CA; /* Green background */
    border: 5px solid black; /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
	font-size: 100px;
	width: 40%;
	margin-left: 35%;
	margin-top:2.5%;
	margin-bottom: 2.5%;
	
}
/*https://www.w3schools.com/howto/howto_css_button_group.asp
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}


.choose-players{
	text-align: center;
	color: black;
	font-size: 2em;
	
}
#wrapper { background-color: white;
	opacity: 0.5;
	height: 110%;
	width: 110%;
	position:absolute;
	margin-top: -4%;
	margin-left: -1%;
	

	
}