@charset "utf-8";
/* CSS Document */
body {
	
	background-image: url(../img/background_index.jpg);
	background-repeat:no-repeat;
background-size:cover;
background-position:center;
	min-height: 1920px; /* vi havde problemer med at gøre det respontivt, så vi tog bare et højt tal, så det ca. passede*/ 
}	


#player-group button {
    background-color: #34B0CA;
    border: 5px solid black;
    color: black;
    padding: 10px 24px;
    float: left;
	font-size: 10em; /* 10 gange størrere end hvad den er sat til */ 
	width: 70%;
	margin-left: 14%;
	margin-top:2.5%;
	margin-bottom: 2.5%;
	text-align: center;	
}

#player-group2 button{
	
    background-color: #34B0CA;
    border: 1px solid black; /* pga. border er i px så er det her problemet ligger med respontivitet.( dette og fontsize) --> løsning kunne muligvis være andet end en button tag*/ 
    color: black;
    float: left;
	font-size: 1500%; /* den måde satte størrelsen på */ 
	width: 50%;
	text-align: center;
	text-decoration: none;
	text-indent: -9999px; /* Det gør fjerner tallene i vores buttom */ 
}
#3 {}
#4 {}
#5 {}
#6 {}


.choose-players{
	text-align: center;
	color: #34B0CA;
	font-size: 2em;
	
}
#buttonNext{
    text-align: center;
    text-decoration: none;
	display: none;
	margin-top: 20%;
	margin-left: 24%;
	width: 50%;
	font-size: 3em;
	color: #34b0ca;
}

#nextturn {font-size: 20em; 
display:none;

    
}

#players {display: block;}
#rateus {display: none;}
#game {display: none;}
#text {display: none;}
#leader{
	display: none;
	
}	
#gametext {
	font-size:3em;
	color: #34b0ca;
	text-align:center;
}

#Leader-line {
    text-align: center;
    position: relative;
	color: #FFFFFF;
    
}

#leader p {
    
    color: white;
	font-size: 30px;
	background: #34B0CA;
	width: 40%;
	margin-left: 30%;
	margin-top:2.5%;
	margin-bottom: 2.5%;
}

#leader-button {
    background-color: #34b0ca;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
	margin-left: 45%;
	margin-top:2.5%;
	margin-bottom: 2.5%;
	display: block;
	
	
}
#llh1 {
	color: #34B0CA;
}




