@charset "utf-8";
/* CSS Document */
body {background-image: url(../img/background_index.jpg);
	background-repeat:no-repeat;}


.h1{ 
	text-align: center;
    color:#34B0CA;
	font-size: 2em;

}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 80% 85%;
    cursor: pointer;
}
.button2 {background-color: #000000;} /* Blue */


div.stars {
  width: 70%;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
	position: relative;
	top: 300px;
	left: 100px;
  font-size: 70px;
  color: #FD4;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(2.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}