@charset "utf-8";
/* CSS Document */
body{
	background-image: url(../img/background_index.jpg);
	background-repeat:no-repeat;

}
#player-group a {
    background-color: #34B0CA;
    border: 5px solid black;
    color: black;
    padding: 10px 24px;
    float: left;
	font-size: 20em;
	width: 46.8%;
	text-align: center;
	height: 30%;
}
#player-group {}
a:link { 
  text-decoration: none;}
a:visited {
  text-decoration: none;}
a:hover {
  text-decoration: none;}
a:active {
  text-decoration: none;}

.text{
	text-align: center;
	color: #34B0CA;
	font-size: 2em;
	
}