@charset "utf-8";
/* CSS Document */
body{
	background-image: url(../img/background_index.jpg);
	background-repeat:no-repeat;

}
.player-group a {
    background-color: #34B0CA;
    border: 5px solid black;
    color: black;
    padding: 10px 24px;
    float: left;
	font-size: 100px;
	width: 40%;
	margin-left: 30%;
	margin-top:2.5%;
	margin-bottom: 2.5%;
	text-align: center;
	
}
a:link { 
  text-decoration: none;}
a:visited {
  text-decoration: none;}
a:hover {
  text-decoration: none;}
a:active {
  text-decoration: none;}

.text{
	text-align: center;
	color: #34B0CA;
	font-size: 2em;
	
}