@charset "utf-8";
/* CSS Document */
body{
	background-image: url(../img/background_index.jpg);
	background-repeat:no-repeat;
	background-size:cover;

}
#player-group a {
    background-color: #34B0CA;
    border: 2px solid black;
    color: black;
    float: left;
	font-size: 2250%;
	width: 49.7%;
	text-align: center;
	height: 30%;
}
#player-group {}
a:link { 
  text-decoration: none;}
a:visited {
  text-decoration: none;}
a:hover {
  text-decoration: none;}
a:active {
  text-decoration: none;}

.text{
	background-color: #FFFFFF;
	opacity: 0.9;
    color:aqua;
    padding: 0.5% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 103%;
	border-radius: 50px;
	border: 2px solid #FFFFFF;
	margin-left: 34%;
	
}